a.plain:link
{ color: #333; text-decoration: none }
a.plain:active
{ color: #333; text-decoration: none }
a.plain:visited
{ color: #333; text-decoration: none }
a.plain:hover
{ color: #333; text-decoration: none }

.status-bar {
    height: 60px;
}

.about-icon {
    float: left;
    margin-right: 12px;
}

.thumbnails {
    list-style-type: none;
    display: inline-block;
}

.mixer-heading {
    margin-bottom: 20px;
    text-align: center;
}

.mixer-label {
    width: 500px;
    font-weight: bold;
    float: left;
}

.mixer-description {
    width: 500px;
    float: left;
}

.participating-mixers {
    display: flex;
}

.mixer-container {
    margin-top: 10px;
    flex: 1 100%;
    display: flex;
}

.mixer-information, .mixer-checkbox {
    flex: 1 100%;
}

.mixer-information {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-right: 10px;
}

.mixer-checkbox {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.form-actions {
    width: 200px;
    margin-bottom: 20px;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.plain {
    display: inline-block;
    margin-bottom: 20px;
}

.navbar-inverse {
    background-color: #428BCA;
    border: 0;
}

.navbar .container .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.add-menu li a {
    color: #fff;
}
