Hello <a href="{{.DirectoryURL}}/{{.Person1LDAP}}">{{.Person1Name}}</a> and <a href="{{.DirectoryURL}}/{{.Person2LDAP}}">{{.Person2Name}}</a>! You're getting this email because you opted into the {{.MixerName}} Mixer.  Schedule some time together for lunch/coffee/beer sometime this week or next.
<br/><br/><br/><br/>
<p style="color:grey">You can adjust your mixer settings <a href="{{.ServerUrl}}">here</a></p>
